.gallery {
  padding-bottom: 120px;
}

.gallery-item {
  display: flex;
  width: 100%;
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    transition: all linear 0.2s;
  }
}

@include max-768 {
  .gallery {
    padding-bottom: 80px;
  }
  // .gallery-item img {
  //   height: 300px;
  // }
}
