// Variables
$main-color: #559b95;
$black-color: #181818;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-style: normal;
  font-family: "Helvetica";
}

.general-btn {
  height: 45px;
  border-radius: 22px;
  background-color: $main-color;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  min-width: 140px;
  display: inline-block;
  text-align: center;
  padding: 8px 20px;
  transition: all ease-in-out 0.2s;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: max-content;
  &::after {
    content: "";
    width: 0;
    height: 100%;
    background-color: #dcd27a;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all linear 0.2s;
  }
  &:hover {
    &::after {
      width: 100%;
    }
    color: $main-color;
  }
}



.general-padding {
  padding: 80px 0 90px 0;
}

.general-title {
  font-size: 30px;
  text-transform: capitalize;
  line-height: 36px;
  color: #181818;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  z-index: 5;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -45px;
}
.swiper-pagination-bullet {
  opacity: 0.302;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
}
.swiper-pagination-bullet-active {
  background-color: $main-color;
  opacity: 1;
}

.swiper-parent {
  position: relative;
  z-index: 10;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

a,
button {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

// Start Preloader

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.preloader {
  width: 100%;
  height: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  position: relative;
  overflow: hidden;
}

.preloader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: $main-color;
  animation: preloaderAnimation 3s infinite linear;
}

@keyframes preloaderAnimation {
  100% {
    left: 100%;
  }
}

// End Preloader

// Scroll up
.toTop {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.15));
  background-color: rgba($color: #000000, $alpha: 0.302);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: all linear 0.3s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: $black-color;
    z-index: -1;
    transition: all linear 0.2s;
  }
  &:hover {
    &::after {
      height: 100%;
    }
  }
  .toTop-icon {
    font-size: 16px;
    color: #fff;
    transition: all linear 0.2s;
  }
}

.showToTop {
  opacity: 1;
  visibility: visible;
}

@include min-768 {
  .container {
    padding-inline: 15px;
  }
}

@include min-1200 {
  .container {
    max-width: 1170px;
  }
}

@include max-992 {
  .main-title {
    width: 100%;
  }
}

@include max-768 {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -35px;
  }


.general-btn{
  height: 42px;
  min-width: 130px;
  padding-block: 6px;
}
  .general-padding {
    padding: 45px 0 50px 0;
  }
 
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .toTop .toTop-icon {
    font-size: 14px;
  }
  .toTop {
    width: 35px;
    height: 35px;
  }
  .general-title {
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
}
